<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label class="mr-3">Payee Name</label>
      <input class="form-control" (input)="onNameChange($event.target.value)"/>
    </div>
    <div class="col">
      <label>
        <b>Name</b>
      </label>
      <div>
        <label>{{ name | titlecase }}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label class="mr-3">Payment Date</label>
      <input type="date" class="form-control" (input)="onDateChange($event.target.value)"/>
    </div>
    <div class="col">
      <label>
        <b>Date</b>
      </label>
      <div>
        <label>{{ date |  date: 'MMMM d, y' }}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label class="mr-3">Amount</label>
      <input class="form-control" (input)="onAmountChange($event.target.value)"/>
    </div>
    <div class="col">
      <label>
        <b>Amount</b>
      </label>
      <div>
        <label>{{ amount | currency }}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label class="mr-3">Miles</label>
      <input class="form-control" (input)="onMillesChnage($event.target.value)"/>
    </div>
    <div class="col">
      <label>
        <b>Kilometers</b>
      </label>
      <div>
        <label>{{ milles | convert: 'm' }}</label>
      </div>
    </div>
  </div>
</div>


